@charset "utf-8";
@import "im.css";

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/kangseogu/NanumGothic-Regular.eot);
    src: url(../../fonts/kangseogu/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/kangseogu/NanumGothic-Regular.woff2) format('woff2'),
         url(../../fonts/kangseogu/NanumGothic-Regular.woff) format('woff'),
         url(../../fonts/kangseogu/NanumGothic-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic bold';
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/kangseogu/NanumGothic-Bold.eot);
    src: url(../../fonts/kangseogu/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/kangseogu/NanumGothic-Bold.woff2) format('woff2'),
         url(../../fonts/kangseogu/NanumGothic-Bold.woff) format('woff'),
         url(../../fonts/kangseogu/NanumGothic-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Nanum Gothic exBold';
    font-style: normal;
    font-weight: 800;
    src: url(../../fonts/kangseogu/NanumGothic-ExtraBold.eot);
    src: url(../../fonts/kangseogu/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/kangseogu/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(../../fonts/kangseogu/NanumGothic-ExtraBold.woff) format('woff'),
         url(../../fonts/kangseogu/NanumGothic-ExtraBold.ttf) format('truetype');
  }

/* skipnavigation */
#skipnavigation{position:absolute;top:0;left:0;z-index:1001;width:100%;height:0}
#skipnavigation p,#skipnavigation ul,#skipnavigation ul li{height:0}
#skipnavigation li a{display:block;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin-bottom:-1px;margin-left:-1px;font-weight:700;color:#000;text-align:center;white-space:nowrap}
#skipnavigation li a:focus {z-index:1000;width:100%;height:auto;padding:10px 0;background:#000;color:#FFF !important}

/* common */
.blind {overflow:hidden; visibility:hidden; position:absolute; width:1px; height:1px; border:0; text-indent:-9999em; clip:rect(0 0 0 0)}
.clearfix:after {display:block; clear:both; content:""} 

#wrapper {min-width:1100px}
.headerArea {height:120px; border-bottom:3px solid #013c9c}
.headerArea .gnbDim {display:none; position:absolute; top:120px; width:100%; height:333px; border-bottom:1px solid #000; background:#fff; z-index:10}
.headerArea .gnbDim.active {display:block}
.headerInner {position:relative; width:1100px; margin:auto}
.headerInner .titLogo {position:absolute; top:0; left:0}
.headerInner .mainGnb {position:absolute; top:81px; left:0}
.headerInner .mainGnb .gnb .depth01 {float:left; width:140px}
.headerInner .mainGnb .gnb .depth01 > a {display:inline-block; position:relative; padding-left:6px; font-size:16px; font-weight:bold; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out}
.headerInner .mainGnb .gnb .depth01 > a:hover {padding-left:10px; color:#073d92}
.headerInner .mainGnb .gnb .depth01 > a:before {display:block; position:absolute; top:5px; left:0; width:6px; height:10px; background:url("../../images/kangseogu/gnbBullet.png") no-repeat 0 0; opacity:0; content:""; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out}
.headerInner .mainGnb .gnb .depth01 > a:hover:before {opacity:1}
.headerInner .mainGnb .gnb .depth02 {display:none; position:absolute; top:39px; left:0; width:100%; background:#fff; height:273px}
.headerInner .mainGnb .gnb .depth02.active {display:block;}
.headerInner .mainUtil {position:absolute; top:23px; right:0; font-size:12px}
.headerInner .mainUtil .utilList {float:left; margin-top:3px}
.headerInner .mainUtil .utilList li {float:left; position:relative; margin-left:10px; padding-left:10px}
.headerInner .mainUtil .utilList li:after {display:block; position:absolute; top:7px; left:0px; width:1px; height:10px; background:#dcdcdc; content:""}
.headerInner .mainUtil .utilList li:first-child {margin-left:0; padding-left:0}
.headerInner .mainUtil .utilList li:first-child:after {display:none}
.headerInner .mainUtil .utilList li a:hover {color:#073d92}
.headerInner .mainUtil .lang {float:left; margin:3px 0 0 20px}
.headerInner .mainUtil .lang a {float:left; width:35px; height:22px; line-height:21px; font-size:11px; text-align:center}
.headerInner .mainUtil .lang .ko {background:#02429b; border:1px solid #02429b; color:#fff}
.headerInner .mainUtil .lang .en {background:#fff; border:1px solid #c9c9c9; border-left:none; color:#6a6a6a}
.headerInner .mainUtil .search {float:left; margin-left:20px}
.headerInner .mainUtil .search .serachArea {width:178px; height:28px; padding-left:10px; border:1px solid #02429b}
.headerInner .mainUtil .search .sesarchBtn {position:absolute; top:0px; right:0px; width:24px; height:24px; border:none; background:none; cursor:pointer}

.mainVisual {width:100%; height:273px; background:url("../../images/kangseogu/bg_visual.jpg") repeat-x}
.mainVisual .visualInner {width:1100px; height:273px; margin:0 auto; background:url("../../images/kangseogu/img_visual.jpg") no-repeat 0 0}
.visualInner .bannerLeft {float:left; width:235px; height:273px; background:url("../../images/kangseogu/img_story.png") no-repeat 0 100px}
.visualInner .bannerLeft .leftTxt {display:inline-block}
.visualInner .bannerRight {float:right; position:relative; padding:19px 19px 28px 21px; width:250px; height:240px; margin-top:17px; background:#fff}
.visualInner .bannerRight .imgArea {width:100%; height:100%}
.visualInner .bannerRight .btn_more {display:inline-block; position:absolute; bottom:2px; right:19px; padding-left:15px; background:url("../../images/kangseogu/btn_moreVisual.png") no-repeat 0 6px; color:#000; font-size:12px}
/* .visualInner .bannerRight .bx-prev {display:block; position:absolute; left:21px; bottom:10px; width:7px; height:10px; text-indent:-9999em; background:url("../../images/kangseogu/btn_prevVisual.png") no-repeat 0 0}
.visualInner .bannerRight .bx-next {display:block; position:absolute; left:60px; bottom:10px; width:7px; height:10px; text-indent:-9999em; background:url("../../images/kangseogu/btn_nextVisual.png") no-repeat 0 0} */


